@import url('reset.css');
@import url('global.css');
@import url('page.css');

/* web font */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap&subset=korean');
 @font-face{
    font-family: "BRRA";
    src: url('../fonts/BRRA.eot?#iefix') format('embadded-opentype'),
        url("../fonts/BRRA.woff") format('woff');
}
@font-face{
    font-family: "BRBA";
    src: url('../fonts/BRBA.eot?#iefix') format('embadded-opentype'),
        url("../fonts/BRBA.woff") format('woff');
}








