

/* mobile 320 */
@media screen and (min-width: 320px) and (max-width: 499px){
    div.wrap{
        max-width: 320px;
        margin: 0 auto;
    }
    div.back{
        background-color: white;
    }
    header > div.back:nth-of-type(2){
        background: url('../images/bg_nav.png') no-repeat center top transparent;
        background-size: cover;
    }
    section{
        padding-top: 2%;
        text-align: center;
        margin: 0 auto;
    }
    section > div.wrap > p:first-child{
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        padding: 15% 0 2% 0;
        background: url('../images/ico_online_event.gif') no-repeat center 10%;
    }
    section > div.wrap > p:first-child > span{
        display: block;
        padding-bottom: 1%;
        padding-top: 8%;
        color: #f088a1;
        font-size: 16px;
        background: url('../images/tit_online_event.gif') no-repeat center top;
    }
    section > div.wrap > hr{
        border-top: 1px solid pink;
    }
    section > div.wrap > ul:after{
        content: '';
        display: block;
        visibility: hidden;
        clear: both;
    }
    section > div.wrap > ul:first-of-type{
        width: 100%;
        padding-bottom: 2.5%;
    }
    section > div.wrap > ul:first-of-type li{
        display: inline-block;   
        vertical-align: middle;
    }
    section > div.wrap > ul:first-of-type li:first-child{
        width: 65px;
        margin-left: 1%;
        margin-right: 30%;
    }
    section > div.wrap > ul:first-of-type li:not(:first-child){
        width: 35px;
        height: 35px;
        margin-left: 1.5%;
    }
    section > div.wrap > ul:first-of-type li a{
        display: block;
    }
    section > div.wrap > div.map{
        background: url('../images/sub1.png') no-repeat left top;
        background-size: 100%;
        margin-bottom: 2%;
        width: 320px;
        height: 1230px;
        position: relative;
    }
    section > div.wrap > div.map > div{
        width: 30%;
        line-height: 20px;
        position: absolute;
        text-indent: -9999px;
        cursor: pointer;
    } 
    section > div.wrap > div.map > div:first-of-type{
        left: 35.5%;
        top: 61%;
    }
    section > div.wrap > div.map > div:last-of-type{
        left: 35.5%;
        bottom: 5.2%;
    }
    section > div.wrap > ul:last-of-type{
        width: 100%;
        text-align: left;
        padding-bottom: 5%;
    }
    section > div.wrap > ul:last-of-type li{
        font-size: 16px;
        font-weight: 300;
        margin-left: 1%;
        line-height: 24px;
    }
    section > div.wrap > ul:last-of-type li:first-child{
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 1%;
    }
    section > div.wrap > ul:last-of-type li:nth-of-type(3),
    section > div.wrap > ul:last-of-type li:nth-of-type(8){
        padding-bottom: 1%;
    }
    section > div.wrap > button{
        padding: 10px 30px;
        font-size: 20px;
        border-style: none;
        background-color: #f088a1;
        color: white;
        border-radius: 40px;
        margin-bottom: 8%;
        cursor: pointer;
    }
}

/* mobile 500*/
@media screen and (min-width: 500px) and (max-width: 767px){
    div.wrap{
        max-width: 500px;
        margin: 0 auto;
    }
    div.back{
        background-color: white;
    }
    header > div.back:nth-of-type(2){
        background: url('../images/bg_nav.png') no-repeat center top transparent;
        background-size: cover;
    }
    section{
        padding-top: 2%;
        text-align: center;
        margin: 0 auto;
    }
    section > div.wrap > p:first-child{
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        padding: 10% 0 2% 0;
        background: url('../images/ico_online_event.gif') no-repeat center 10%;
    }
    section > div.wrap > p:first-child > span{
        display: block;
        padding-bottom: 1%;
        padding-top: 3%;
        color: #f088a1;
        font-size: 16px;
        background: url('../images/tit_online_event.gif') no-repeat center top;
    }
    section > div.wrap > hr{
        border-top: 1px solid pink;
    }
    section > div.wrap > ul:after{
        content: '';
        display: block;
        visibility: hidden;
        clear: both;
    }
    section > div.wrap > ul:first-of-type{
        width: 100%;
        padding-bottom: 2.5%;
    }
    section > div.wrap > ul:first-of-type li{
        display: inline-block;   
        vertical-align: middle;
    }
    section > div.wrap > ul:first-of-type li:first-child{
        width: 65px;
        margin-left: 1%;
        margin-right: 50%;
    }
    section > div.wrap > ul:first-of-type li:not(:first-child){
        width: 35px;
        height: 35px;
        margin-left: 1.5%;
    }
    section > div.wrap > ul:first-of-type li a{
        display: block;
    }
    section > div.wrap > img{
        margin-bottom: 2%;
        width: 480px;
    }
    section > div.wrap > div.map{
        background: url('../images/sub1.png') no-repeat center top;
        background-size: 100%;
        margin-bottom: 2%;
        width: 500px;
        height: 1921px;
        position: relative;
    }
    section > div.wrap > div.map > div{
        width: 30%;
        line-height: 30px;
        position: absolute;
        text-indent: -9999px;
        cursor: pointer;
    } 
    section > div.wrap > div.map > div:first-of-type{
        left: 35.5%;
        top: 61%;
    }
    section > div.wrap > div.map > div:last-of-type{
        left: 35.5%;
        bottom: 5.2%;
    }
    section > div.wrap > ul:last-of-type{
        width: 100%;
        text-align: left;
        padding-bottom: 5%;
    }
    section > div.wrap > ul:last-of-type li{
        font-size: 16px;
        font-weight: 300;
        margin-left: 1%;
        line-height: 24px;
    }
    section > div.wrap > ul:last-of-type li:first-child{
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 1%;
    }
    section > div.wrap > ul:last-of-type li:nth-of-type(3),
    section > div.wrap > ul:last-of-type li:nth-of-type(8){
        padding-bottom: 1%;
    }
    section > div.wrap > button{
        padding: 15px 50px;
        font-size: 26px;
        border-style: none;
        background-color: #f088a1;
        color: white;
        border-radius: 40px;
        margin-bottom: 8%;
        cursor: pointer;
    }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){
    div.wrap{
        max-width: 700px;
        margin: 0 auto;
    }
    div.back{
        background-color: white;
    }
    header > div.back:nth-of-type(2){
        background: url('../images/bg_nav.png') no-repeat center top transparent;
        background-size: cover;
    }
    section{
        padding-top: 2%;
        text-align: center;
        margin: 0 auto;
    }
    section > div.wrap > p:first-child{
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        padding: 7% 0 2% 0;
        background: url('../images/ico_online_event.gif') no-repeat center 10%;
    }
    section > div.wrap > p:first-child > span{
        display: block;
        padding-bottom: 1%;
        padding-top: 3%;
        color: #f088a1;
        font-size: 16px;
        background: url('../images/tit_online_event.gif') no-repeat center top;
    }
    section > div.wrap > hr{
        border-top: 1px solid pink;
    }
    section > div.wrap > ul:after{
        content: '';
        display: block;
        visibility: hidden;
        clear: both;
    }
    section > div.wrap > ul:first-of-type{
        width: 100%;
        padding-bottom: 1.5%;
    }
    section > div.wrap > ul:first-of-type li{
        display: inline-block;   
        vertical-align: middle;
    }
    section > div.wrap > ul:first-of-type li:first-child{
        width: 65px;
        margin-left: 1%;
        margin-right: 65%;
    }
    section > div.wrap > ul:first-of-type li:not(:first-child){
        width: 35px;
        height: 35px;
        margin-left: 1.5%;
    }
    section > div.wrap > ul:first-of-type li a{
        display: block;
    }
    section > div.wrap > img{
        margin-bottom: 2%;
        width: 700px;
    }
    section > div.wrap > div.map{
        background: url('../images/sub1.png') no-repeat center top;
        background-size: 100%;
        margin-bottom: 2%;
        width: 700px;
        height: 2689px;
        position: relative;
    }
    section > div.wrap > div.map > div{
        width: 30%;
        line-height: 50px;
        position: absolute;
        text-indent: -9999px;
        cursor: pointer;
    } 
    section > div.wrap > div.map > div:first-of-type{
        left: 35.5%;
        top: 60.5%;
    }
    section > div.wrap > div.map > div:last-of-type{
        left: 35.5%;
        bottom: 5%;
    }
    section > div.wrap > ul:last-of-type{
        width: 100%;
        text-align: left;
        padding-bottom: 5%;
    }
    section > div.wrap > ul:last-of-type li{
        font-size: 16px;
        font-weight: 300;
        margin-left: 1%;
        line-height: 24px;
    }
    section > div.wrap > ul:last-of-type li:first-child{
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 1%;
    }
    section > div.wrap > ul:last-of-type li:nth-of-type(3),
    section > div.wrap > ul:last-of-type li:nth-of-type(8){
        padding-bottom: 1%;
    }
    section > div.wrap > button{
        padding: 15px 50px;
        font-size: 26px;
        border-style: none;
        background-color: #f088a1;
        color: white;
        border-radius: 40px;
        margin-bottom: 8%;
        cursor: pointer;
    }
}

/* WEB */
@media screen and (min-width: 1024px){
    div.wrap{
        max-width: 1024px;
        margin: 0 auto;
    }
    div.back{
        background-color: white;
    }
    header > div.back:nth-of-type(2){
        background: url('../images/bg_nav.png') no-repeat center top transparent;
        background-size: cover;
    }
    section{
        padding-top: 2%;
        text-align: center;
        margin: 0 auto;
    }
    section > div.wrap > p:first-child{
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        padding: 5% 0 2% 0;
        background: url('../images/ico_online_event.gif') no-repeat center 10%;
    }
    section > div.wrap > p:first-child > span{
        display: block;
        padding-bottom: 1%;
        padding-top: 3%;
        color: #f088a1;
        font-size: 16px;
        background: url('../images/tit_online_event.gif') no-repeat center top;
    }
    section > div.wrap > hr{
        border-top: 1px solid pink;
    }
    section > div.wrap > ul:after{
        content: '';
        display: block;
        visibility: hidden;
        clear: both;
    }
    section > div.wrap > ul:first-of-type{
        width: 100%;
        padding-bottom: 1.5%;
    }
    section > div.wrap > ul:first-of-type li{
        display: inline-block;   
        vertical-align: middle;
    }
    section > div.wrap > ul:first-of-type li:first-child{
        width: 65px;
        margin-left: 1%;
        margin-right: 75%;
    }
    section > div.wrap > ul:first-of-type li:not(:first-child){
        width: 35px;
        height: 35px;
        margin-left: 1.5%;
    }
    section > div.wrap > ul:first-of-type li a{
        display: block;
    }
    section > div.wrap > div.map{
        background: url('../images/sub1.png') no-repeat center top;
        background-size: 100%;
        margin-bottom: 2%;
        width: 1024px;
        height: 3931px;
        position: relative;
    }
    section > div.wrap > div.map > div{
        width: 30%;
        line-height: 50px;
        position: absolute;
        text-indent: -9999px;
        cursor: pointer;
    } 
    section > div.wrap > div.map > div:first-of-type{
        left: 35.5%;
        top: 61%;
    }
    section > div.wrap > div.map > div:last-of-type{
        left: 35.5%;
        bottom: 5.2%;
    }
    section > div.wrap > ul:last-of-type{
        width: 100%;
        text-align: left;
        padding-bottom: 5%;
    }
    section > div.wrap > ul:last-of-type li{
        font-size: 16px;
        font-weight: 300;
        margin-left: 1%;
        line-height: 24px;
    }
    section > div.wrap > ul:last-of-type li:first-child{
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 1%;
    }
    section > div.wrap > ul:last-of-type li:nth-of-type(3),
    section > div.wrap > ul:last-of-type li:nth-of-type(8){
        padding-bottom: 1%;
    }
    section > div.wrap > button{
        padding: 20px 55px;
        font-size: 26px;
        border-style: none;
        background-color: #f088a1;
        color: white;
        border-radius: 40px;
        margin-bottom: 8%;
        cursor: pointer;
    }
}